<html>
<head>
    <title>	Регистрация </title>
    <meta name="robots" content="noindex, nofollow" charset="utf-8" />
    <link href="css\\demopage.css" rel="stylesheet" type="text/css" />
    <script language="javascript" src="js\es6-promise.min.js"></script>
    <script language="javascript" src="js\ie_eventlistner_polyfill.js"></script>
    <script language="javascript" src="js\cadesplugin_api.js"></script>
    <script language="javascript" src="js\Code.js"></script>
</head>
<body>
    <div id="min-width">
        <div id="container">
            <table>
                <tr>
                    <td>
                        <div class="mainContent">
                            <div id="left-col">
                                <div id="info">
                                    <img id="info_img" src="Img/application_information.png" alt="" />
                                    <div id="info_msg" style="text-align:center;">
                                        <span id="PlugInEnabledTxt">Плагин не загружен</span>
                                        <img src="Img/red_dot.png" width="10" height="10" alt="Плагин не загружен" id="PluginEnabledImg" />
                                        <br>
                                        <span id="PlugInVersionTxt" lang="ru"> </span>
                                        <span id="CSPVersionTxt" lang="ru"> </span>
                                        <br>
                                        <span id="CSPNameTxt" lang="ru"> </span>
                                    </div>
                                    <div id="boxdiv" style="display:none">
                                        <span id="errorarea">
                                            У вас отсутствуют личные сертификаты. Вы можете
                                            <a href="#" onClick="Common_RetrieveCertificate();" style="color:#0837ff"> получить</a>
                                            сертификат от тестового УЦ, предварительно установив
                                            <a href="https://testca.cryptopro.ru/certsrv/certnew.cer?ReqID=CACert&Renewal=1&Enc=bin" style="color:#0837ff">корневой сертификат тестового УЦ</a>
                                            в доверенные.
                                        </span>
                                    </div>
                                </div>
                                <p id="info_msg" name="CertificateTitle">Сертификат:</p>
                                <div id="item_border" name="CertListBoxToHide">
                                    <select size="4" name="CertListBox" id="CertListBox" style="width:100%;resize:none;border:0;">
                                    </select>
                                </div>

                                <div id="cert_info" style="display:none">
                                    <h2>Информация о сертификате</h2>
                                    <p class="info_field" id="subject"></p> 
                                    <p class="info_field" id="issuer"></p>
                                    <p class="info_field" id="from"></p>
                                    <p class="info_field" id="till"></p>
                                    <p class="info_field" id="provname"></p>
                                    <p class="info_field" id="privateKeyLink"></p>
                                    <p class="info_field" id="algorithm"></p>
                                    <p class="info_field" id="status"></p>
                                    <p class="info_field" id="location"></p>
                                </div>
                                <div id="item_border">
                                    <script language="javascript">
                                        var canPromise = !!window.Promise;
                                        if (isEdge()) {
                                            ShowEdgeNotSupported();
                                        } else {
                                            if (canPromise) {
                                                cadesplugin.then(function () {
                                                        Common_CheckForPlugIn();
                                                    },
                                                    function (error) {
                                                        document.getElementById('PluginEnabledImg').setAttribute("src", "Img/red_dot.png");
                                                        document.getElementById('PlugInEnabledTxt').innerHTML = error;
                                                    }
                                                );
                                            } else {
                                                window.addEventListener("message", function (event) {
                                                        if (event.data == "cadesplugin_loaded") {
                                                            CheckForPlugIn_NPAPI();
                                                        } else if (event.data == "cadesplugin_load_error") {
                                                            document.getElementById('PluginEnabledImg').setAttribute("src", "Img/red_dot.png");
                                                            document.getElementById('PlugInEnabledTxt').innerHTML = "Плагин не загружен";
                                                        }
                                                    },
                                                    false);
                                                window.postMessage("cadesplugin_echo_request", "*");
                                            }
                                        }
                                    </script>
                                </div>
                            </div>
                            <form name="SendFormData" action="/Registration/RegistrationEdit">
                                <input type="text" name="subject" value="123" />
                                <input type="text" name="issuer" value="456" />
                                <input type="text" name="from" value="789" />
                                <input type="submit" name="submit" value="Выбрать сертификат" />
                            </form>
                        </div>
                        <script>
                            // получаем объект формы
                            var form = document.forms.SendFormData;
// прикрепляем обработчик кнопки
                            form.submit.addEventListener("click", sendRequest);
 
// обработчик нажатия
                            function sendRequest(event){
     
                                event.preventDefault();
                                var formData = new FormData(form);
 
                                var request = new XMLHttpRequest();
 
                                request.open("POST", form.action);
     
                                request.onreadystatechange = function () {
                                    if (request.readyState == 4 && request.status == 200)
                                        document.getElementById("SendFormData").innerHTML=request.responseText;
                                }
                                request.send(formData);
                            }
                        </script>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</body>
</html>
